.top{
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    background: rgba(21,21,21,0.9);
}

.rr-logo{
    border: 1px solid black;
}

.nav{
    display: flex;
}

.nav li{
    padding-right: 50px;
    font-size: 16px;
    list-style-type: none;
}

.nav a{
    color: white;
    text-decoration: none;
}
.banner{
    display: flex;
    padding: 40px 50px 0 40px;
}
.banner-image-container{
    position: relative;
    padding: 40px;
    margin-left: -300px;
}
.banner-image{
    width: 500px;
    height: 350px;
    background-image: url("../img/se-bigpic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-details{
    z-index: 1;
    position: relative;
    padding-top: 60px;
}
.banner-heading{
    font-size: 90px;
    padding: 0;
    margin: 0;
    background-color: #E95F26;
    padding-left: 20px;
    color: #ffffff;
}
.banner-desc{
    width: 60%;
    font-size: 18px;
    color: #353535;
    font-weight: 500;
}

.link-2020{
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 22px;
}
.text-2020{
    background-image: url('../img/se-greyarrow.png');
    background-repeat: no-repeat;
    padding: 50px;
    background-size: 15%;
    background-position: center;
    color: #353535;
}
.testimonials{
    padding: 70px;
    display: flex;
    background-color: grey;
}
.linkedin{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
	color: black;
    mix-blend-mode: screen;
    font-size: 18px;
    font-weight: 600;
}

.intern-img{
    width: 400px;
    height: 300px;
    position: relative;
}

#rachel{
    background-image: url('../img/rachel.jpg');
}

#amy{
    background-image: url('../img/amy.png');
}

.intern-deets{
    font-size: 16px;
}

.intern-questions{
    padding-left: 100px;

}

.question{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;

}

.answers{
    font-size: 14px;
    padding-bottom: 40px;
}

.testimonials.right{
    display: flex;
    flex-direction: row-reverse; 
    background-color: #323B44;
}

.testimonials.right .intern-questions{
    padding-right: 100px;
    padding-left: 0;
}
.banner-image-container .banner-dots-right{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.banner-image-container .banner-dots-left{
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 1;
}
