            
            .ui-dark-header
            {
              background: #212a33;
              color: #E5E5E5;
            }


            .table__title-bar
            {
                background: #212933;
                min-height: 40px;
                font-size: 14px;
                display: flex;
                align-items: center;
                padding: 0 20px;
                padding-top: 0px;
                padding-right: 20px;
                padding-bottom: 0px;
                padding-left: 20px;
                color: #FFFFFF;
            }

            .table_header
            {
                display: flex;
                height: 40px;
                position: relative;
                color: #FFFFFF;
                font-weight: 500;
                font-size: 16px;
                text-align: left;
            }
            .table_row
            {
                height: 30px;
                padding: 0 20px;
                font-size: 12px;
                position: relative;
                font-size: 14px;
                display: flex;
                align-items: center;
                text-overflow: ellipsis;
            }
            .logo
            {
                padding: 0 20px;
                padding-top: 15px;
                padding-right: 20px;
                padding-bottom: 15px;
                padding-left: 20px;
                width: 220px;
                height: 37px;

            }

            .loginLogo
            {
                padding: 0 20px;
                padding-top: 30px;
                padding-right: 20px;
                padding-left: 20px;
                width: 220px;
                height: 37px;
                display: block;
                margin: 0 auto;
            }

            .dropdown
            {
                font-size: 12px;
                padding: 10px 8px 10px 14px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 6px;
                position: relative;
            }

            .btn
            {
                color: #FFFFFF;
                background-color: #0094D1;
                border-color: #0094D1;
                font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
                font-weight: 500;
                box-sizing: border-box;
                line-height: 1;
                border-radius: 3px;
                outline: none;
                cursor: pointer;
                font-size: 14px;
                padding: 9px 15px;

            }

            .btnLogin
            {
                color: #FFFFFF;
                background-color: #0094D1;
                border-color: #0094D1;
                font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
                font-weight: 500;
                box-sizing: border-box;
                line-height: 1;
                border-radius: 3px;
                outline: none;
                cursor: pointer;
                font-size: 14px;
                padding: 9px 15px;
                color: #fff;
                display: inline-block;
                height: 40px;
                line-height: 36px;
                padding: 0 15px;
                border-radius: 3px;
                font-size: 13px;
                width: 100%;

            }

           body
           {
               font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
               font-size:12px;
               line-height:1.42857;
               color:#333;
               background-color:#fff;
               margin:0;
               height: 100%;
               background: #323B44;
               color: #E5E5E5;
               position: relative;
           }
           .label
           {
               display:inline-block;
               max-width:100%;
               margin-bottom:20px;
               font-weight:700
           }

           .metrics
           {
               padding-top: 20px;
               padding-bottom: 20px;
               border:1px solid white;
               max-width:30%;
               margin: auto;
               margin-top: 40px;
           }

           .metricsTitles
           {
              font-size: 3.286em;
              color: #5797B7;
              padding-bottom: 5px;
              padding: 10px 8px 10px 14px;
              cursor: default;
              display: flex;
              flex-direction: column;
              justify-content: center;
              cursor: pointer;
              box-sizing: inherit;
              display: block;
           }



           .launchSuite
           {
               padding-top: 20px;
               padding-bottom: 20px;
               max-width: 80%;
               margin: auto;
               margin-top: 40px;
           }

            .loginComponent
            {
                background-color: #414D58;
                border: none;
                box-shadow: none;
                margin-top: 0;
                font-family: "montserrat", Arial, Helvetica, sans-serif;
                color: #777;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.4;
                position: relative;
                overflow: auto;
                border-radius: 3px;
                border-width: 1px;
                height: auto;
                margin: 100px auto 8px;
                width: 400px;
                min-width: 300px;
            }

            .loginHeader
            {
                padding: 30px 90px 75px;
                position: relative;
                z-index: 10;
                transition: padding-bottom .4s;
                margin: 0;
                padding: 0;
                border: 0;
                outline: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }

            .loginHeaderText
            {
                font-family: "montserrat", Arial, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 1.5;
                margin-top: 10px;
                text-align: center;
                text-transform: none;
                color: #fff;
                margin: 0 0 15px;
                padding: 0;
            }

            .textBox
            {
                font-family: "montserrat", Arial, Helvetica, sans-serif;
                position: relative;
                background-color: #fff;
                border-color: #bbb;
                height: 40px;
                border: 1px solid #bbb;
                display: inline-block;
                float: left;
                border-radius: 3px;
                width: 100%;
                box-sizing: border-box;
                padding-left:10px;
            }

            .bullet
            {
                font-family: "montserrat", Arial, Helvetica, sans-serif;
                color: rgb(127, 220, 255);
                float: left;
                height: 30px;
                padding: 0 0px;
                font-size: 12px;
                position: relative;
                display: flex;
                align-items: center;
                text-overflow: ellipsis;
            }

            .authContent
            {
                padding-top: 20px;
                padding: 20px 42px 20px;
                transition: padding-top .4s;
                margin: 0;
                border: 0;
                outline: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
                background: transparent;
            }

            .loginTable
            {
                margin:0;
                padding-top: 20px;
                padding-left: 20px;
                padding-right: 10px;
                padding-bottom: 20px;
            }

            .rowSpacer
            {
                padding: 20px;
            }

            .mark 
            {
                background-color: palevioletred;
                color: #333;
            }
            
            html {
                height: 100%;
                box-sizing: border-box;
              }
              
              body {
                font-family: "Open Sans", sans-serif;
                text-align: center; 
                box-sizing: border-box;
                font-size: 120%;
                background-color: darkgray;
                height: 100%;
                background-color: red;
                padding: 20px 10px;
              }
              
              textarea:hover, 
              input:hover, 
              textarea:active, 
              input:active, 
              textarea:focus, 
              input:focus,
              button:focus,
              button:active,
              button:hover {
                outline:0px !important;
                -webkit-appearance:none;
              }
              
              #wrapper {
                max-width: 600px;
                text-align: left;
                margin: 0px auto;
                background-color: whitesmoke;
                border-top: 50px solid black;
                border-right: 20px solid black;
                border-bottom: 50px solid black;
                border-left: 20px solid black;
                border-radius: 20px;
                height: 100%;
                box-sizing: border-box;
                position: relative;
              }
              
              #chat-area{
                height: 85%;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 20px;
                box-sizing: border-box;
              }
              
              #compose-area {
                height: 15%;
                width: 100%;
                position: absolute;
                box-sizing: border-box;
                bottom: 0;
                left: 0;
                display:none;
              }
              
              textarea {
                position:absolute;
                padding:20px 20px;
                background:#C4B7E1;
                border:0;
                margin:0;
                box-sizing: border-box;
                height: 100%;
                width: 100%;
                font-size: 120%;
                padding: .5em 10% .5em 2%;
              }
              
              #sendButton {
                position: absolute;
                bottom: 5px;
                right: 5px;
                
              }
              
              button {
                position: relative;
                box-sizing: border-box;
                border: none;
                cursor: pointer;
                margin: 1px;
                font-size: 120%;
                background-color: lightgrey;
                border-radius: 8px;
                
              }
              
              #startButton {
                margin: 0 auto;
                text-align: center;
                border-radius: 20px;
                border: 1px solid black;
                box-shadow: 0px 5px black;
                max-width: 200px;
                cursor: pointer;
                background-color: seashell;
              }
              
              #robot {
                margin: 0 auto;
                width: 200px;
              }
              
              #cursor {
                position: relative;
                top: 4px;
                left: 2px;
              }
              
              .chat-container {
                width: 100%;
                float: left;
                margin-bottom: 10px;
              }
              
              .chat-wrapper {
                position: relative;
                height: 100%;
                
              }
              
              .avatar {
                position: absolute;
                top: 0px;
                width: 24px;
                height: 24px;
                background-size: contain;
                background-color: darkgray;
                border: 2px solid darkgray;
                border-radius: 2px;
                
              }
              
              .avatar-bot {
                left: -15px;
                background-image: url("https://cdn.glitch.com/e5ca6c0c-b21f-4a54-a1ad-6285b1bf8390%2Frobot.svg");
              }
              
              .avatar-user {
                right: -15px;
                background-image: url("https://cdn.glitch.com/e5ca6c0c-b21f-4a54-a1ad-6285b1bf8390%2Fdolphin.png?");
              }
              
              .chat-bot {
                background-color: #DCDCDC;
                padding: 7px 15px;
                float: left;
                width: 60%;
                margin: 0px 36% 15px 4%;
                border-radius: 0px 20px 20px 20px;
                box-sizing: border-box;
                box-shadow: -3px 3px darkgrey;
                min-height: 2em;
              }
              
              .chat-user {
                background-color: #9370DB;
                padding: 7px 15px;
                text-align: right;
                border-radius: 20px 0px 20px 20px;
                float: left;
                width: 60%;
                margin: 0px 4% 15px 36%;
                box-sizing: border-box;
                box-shadow: 3px 3px #C4B7E1;
                min-height: 2em;
              }


*, *:before, *:after {
	box-sizing: border-box;
}


img{
	max-width:100%;
}

#wrapper{
	background: white;
    position: absolute;
    bottom: 0;
    right: 0;
	width: 100%;
}
#wrapper:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
   
}

.element{
	position: absolute;
	bottom: 0;
	right: 0;
}